
/* style for Form to add a new task */
.task-form-container {
    width: 300px;
    padding: 20px;
    display: none;
    align-self: center;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
#taskForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task-form-container h2 {
    margin-bottom: 15px;
    color: #333333;
    text-align: center;
}
.task-form-container label {
    display: block;
    align-self: first baseline;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
.task-form-container input[type="text"],
.task-form-container textarea,
.task-form-container input[type="date"],
.task-form-container input[type="time"] {
    width: 280px;
    padding: 8px;
    align-self:first baseline;
    outline-color: #007bff;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}
.task-form-container textarea {
    resize: none;
    min-height: 80px;
}
div.buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.task-form-container button.cancel{
    width: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color:#999;
    transition: background-color 0.3 ease;
}
.task-form-container button.cancel:hover {
    background-color: #615f5f;
}
.task-form-container button.addtask {
    width: 180px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.task-form-container button.addtask:hover {
    background-color: #0056b3;
}